Repository dirigeants/klasa, pull requests merged in 2019-07, with the labels that each got.

#741 Fix no named types
  src/lib/util/Type.js
Labels: Meta: BugFix, Priority: Low, SEM: Patch

#764 Fix(Typing): Add string union for EventOptions#emitter
  typings/index.d.ts
Labels: Meta: BugFix, Meta: Documentation, Meta: Typings, SEM: Patch

#772 src: Replace client.shard.id with client.options.shards
  src/commands/Admin/disable.js
  src/commands/Admin/enable.js
  src/commands/Admin/load.js
  src/commands/Admin/reload.js
  src/commands/Admin/transfer.js
  src/commands/Admin/unload.js
  src/events/coreSettingsUpdateEntry.js
  src/lib/schedule/ScheduledTask.js
Labels: Meta: BugFix, Priority: Low, SEM: Patch

#773 FIx(Typings): Forgot to import Stopwatch
  typings/index.d.ts
Labels: Meta: BugFix, Meta: Typings, SEM: N/A
